<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\main.css">
    <title>Yoga Trainer</title>
</head>
<body>
    <h1 style="text-align: center; margin-bottom: 35px; color: rgba(7, 76, 7, 0.668);">Yoga TrAIner</h1>
    <div id="container-0">
        <div id="ask">
            <!-- <img src="static\img\rect.png" width="28%" alt=""> -->
            <p>Which pose do you wish to align?</p>
        </div>
        <div id="select-pose">
            <div class="row">
                <div class="column-1">
                    <a href="/downward-dog"><img src="static\img\dog.jpg" alt="Downward Dog Pose"></a>
                    <p>Downward Dog</p>
                </div>
                <div class="column-1">
                    <a href="/warrior"><img src="static\img\warrior.jpg" alt="Warrior-II Pose"></a>
                    <p>Warrior-II</p>
                </div>
                <div class="column-1">
                    <a href="/goddess"><img src="static\img\goddess.jpg" alt="Goddess Pose"></a>
                    <p>Goddess</p>
                </div>
            </div>
            <div class="row">
                <div class="column-2">
                    <a href="/plank"><img src="static\img\plank.jpg" alt="Plank Pose"></a>
                    <p>Plank</p>
                </div>
                <div class="column-2">
                    <a href="/tree"><img src="static\img\tree.jpg" alt="Tree Pose"></a>
                    <p>Tree</p>
                </div>
            </div>
        </div>    
    </div>
    
    <div id="footer">
        <p>Made by Prachi Yadav</p>
        <p>Images: <a href="https://www.freepik.com/author/vipss">@vipps</a> <a href="https://www.freepik.com/author/teravector">@teravector</a></p>
    </div>   
</body>
</html>